<span style="display:block; float:right; padding-bottom: 10px;">{{user.email}} | <a ng-click="logout()">Logout</a></span>
<div>
	<input type="search" ng-model="search" class="search-query" placeholder="Search"><br/>
	<ul class="listTodo">
		<li class="animate-repeat todo"  ng-repeat="todo in todos | filter:search:strict | orderBy:'points'">
			<input type="checkbox" ng-model="todo.done">
			<span class="done-{{todo.done}}"><a class="todoText" href="./#/edit/{{todo.$id}}">{{todo.text}}</a></span>
			<span ng-repeat="tag in todo.tags track by $index">[{{tag.value}}]</span>
		</li>

	</ul>
</div>