<form name="form">
	<input type="text" name="text" ng-model="todo.text"  size="30" required>
    <span ng-show="form.text.$error.required" class="require">
        Required</span>
	</br>
	<ul>
		<li class="tags" ng-repeat="tag in tags track by $index">
			<span ng-click="removeTag(tag)">x</span>
			<p>{{tag.value}}: {{tag.point}}</p>
  			<div class="ui-slider" ng-slider></div>
		</li>
	</ul>
	<input type="text" ng-model="tag.value" ng-enter="addTag()" size="30" typeahead="tag.value for tag in typeaheadTags | filter:$viewValue" 		 placeholder="Input tag name and press enter">
	<input class="btn-primary" ng-click="save()"  ng-disabled="isClean()" type="submit" value="Save">
	<input class="btn-primary" ng-click="destroy()" type="submit" value="Delete">
</form>