<form name="form">
	<input type="text" name="text" ng-model="todo.text"  size="30"
	     placeholder="add new todo here" required>
    <span ng-show="form.text.$error.required" class="require">
        Required</span>
	</br>
	<ul>
		<li class="tags" ng-repeat="tag in tags track by $index">
			<span ng-click="removeTag(tag)">x</span><p>{{tag.value}}: {{tag.point}}</p>
  			<div class="ui-slider" ng-slider></div>
		</li>
	</ul>
	<input type="text" ng-model="tag.value" ng-enter="addTag()" size="30" typeahead="tag.value for tag in typeaheadTags | filter:$viewValue" 		 placeholder="Input tag name and press enter">
	<br/>
	<input class="btn-primary" type="submit" ng-click="save()" value="add">

</form>