<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:ng="http://angularjs.org" xmlns:app="ignored" ng-app="TodoApp"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Angular Fun</title>
		<meta name="description" content="AngularJS todo list" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<% if (config.environment && config.environment === 'prod') { %>
			<!--[if lte IE 8]> <script src="<%= config.getHashedFile('./.temp/scripts/ie.min.js', {trim: './.temp'}) %>"></script> <![endif]-->

			<link rel="stylesheet" href="<%= config.getHashedFile('./.temp/styles/styles.min.css', {trim: './.temp'}) %>" />
		<% } else { %>
			<!--[if lte IE 8]> <script src="/scripts/libs/json3.js"></script> <script src="/scripts/libs/html5shiv-printshiv.js"></script> <![endif]-->

			<link rel="stylesheet" href="/styles/styles.css" />
		<% } %>

	</head>
	<body>
		<div class="main">
			<header>
				<div class="">
					<a href="./#/home">Home</a>
					<a href="./#/new">New Todo</a>
				</div>
			</header>
			<h1 class="center">Todo list</h1>
			<div ng-view></div>
		</div>
		<script type="text/javascript" src="/scripts/libs/angular.js"></script>
		<script type="text/javascript" src="/scripts/libs/angular-route.js"></script>
		<script type="text/javascript" src="/scripts/libs/angular-resource.js"></script>
		<script type="text/javascript" src="/scripts/libs/angular-animate.js"></script>
		<script src="https://cdn.firebase.com/v0/firebase.js"></script>
		<script type="text/javascript" src="/scripts/libs/ui-bootstrap-tpls.js"></script>
		<script type="text/javascript" src="/scripts/libs/jquery.js"></script>
		<script type="text/javascript" src="/scripts/libs/jquery-ui.js"></script>
		<script type="text/javascript" src="/scripts/libs/slider.js"></script>
    	<script src="http://firebase.github.io/angularFire/angularFire.js"></script>
		<script type="text/javascript" src="/scripts/controllers/todo.js"></script>
	</body>
</html>